<h2>FormApp</h2>
<hr>
<div class="container">
    <form (ngSubmit)="guardar()" [formGroup]="miFormulario">

        <!-- Campo de nombre  -->
        Nombre: <input 
        [class.is-invalid]="miFormulario.get('username').touched && miFormulario.get('username').invalid" 
        type="text" 
        class="form-control"
        placeholder="Nombre"
         formControlName="username">
         <span class="form-text text-danger"
         *ngIf="miFormulario.get('username').touched && miFormulario.get('username').invalid">
             Ingrese un nombre valido
         </span>
         

        <!-- Campo de apellido  -->
        Apellido: <input 
        [class.is-invalid]="miFormulario.get('lastname').touched && miFormulario.get('lastname').invalid" 
        type="text" 
        class="form-control"
        placeholder="Apellido"
         formControlName="lastname">
         <span class="form-text text-danger"
         *ngIf="miFormulario.get('lastname').touched && miFormulario.get('lastname').invalid">
              Ingrese un apellido valido
             
         </span>

        <!-- Campo de edad  -->
        Edad: <input
        [class.is-invalid]="miFormulario.get('age').touched && miFormulario.get('age').invalid" 
         type="number" 
         placeholder="Edad"
        class="form-control"
         formControlName="age">
         <span class="form-text text-danger"
         *ngIf="miFormulario.get('age').touched && miFormulario.get('age').invalid">
             Ingrese una edad valida (min. 18 max. 65)
         </span>


        <button class="btn btn-primary"
         type="submit"
         [disabled]="miFormulario.invalid">
         Enviar
        </button>
    </form>
    {{miFormulario.value | json}}
</div>
